<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Tente Novamente Mais Tarde</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body class="login">
    <header>
        <h1>Erro no servidor</h1>
    </header>
    <section>
        <p class="frase">Ocorreu algum erro no servidor</p>
        <a class="fLogin" href="/">Tela Inicial</a>
    </section>


    <footer class="footer">
        <small>PWeb2 - Trabalho</small>
    </footer>
</body>

</html>