body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: gray;
}

.login {
  border: 1px solid yellow;
  width: 18%;
  height: 450px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  color: white;
}
.email {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  width: 200px;
}

.nome {
  margin-top: 20px;
  height: 30px;
  width: 200px;
}

button {
  border: 2px solid gray;
  margin-top: 20px;
  margin-bottom: 100px;
  height: 30px;
  width: 200px;
}

.fLogin {
  background-color: aliceblue;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.frase {
  margin-top: 20px;
  margin-bottom: 80px;
  
}

.footer {
  margin-top: 20px;
  position: absolute;
}

.botao {
  padding: 15px;
  padding-left: 18px;
  padding-right:18px;
  border-radius: 50px;
  text-decoration: none;
  background-color: yellow;
  float: right;
  margin-bottom: 10px;
  color:black;
  font-weight: bold;
  
}
.BotaoPostar {
  width: 150px;
  margin-bottom: 10px;
  border-radius:10px;
  border: 1px yellow solid;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: rgb(210, 205, 205);
  font-size: 14px;
  
}
ul li {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-left: 0;
}

ul li:nth-child(odd) {
  float:left;
}
input {
  width: 400px;
  height: 100px;
}