<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Guia de Granadas</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
<body>
        <header>
            <h1>Guia de granadas</h1>
            <h2>Mapas disponiveis:</h2>
        </header>
        <section>
            <p>DUST2 PRECISA DE LOGIN!!!</p>
            <a href="/dust2">
                
                <img src="/images/maps/dust2.png" width="426", height="240" hspace="3" vspace="3"/>
            </a>

            <a href="/inferno">
                <img src="/images/maps/inferno.png" width="426", height="240" hspace="3" vspace="3"/>
            </a> 

            <a href="/mirage">
                <img src="/images/maps/mirage.png" width="426", height="240" hspace="3" vspace="3"/>
            </a>

            <a href="/overpass">
                <img src="/images/maps/overpass.png" width="426", height="240" hspace="3" vspace="3"/>
            </a>

            <a href="/vertigo">
                <img src="/images/maps/vertigo.png" width="426", height="240" hspace="3" vspace="3"/>
            </a>
        </section>
        <footer>
            <small>Guia de granadas</small>
        </footer>
    </body>
</html>