<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body class="login">
    <header>
        <h1>ACESSO NEGADO!</h1>
    </header>
    <section>
        <p class="frase">Seu acesso foi negado, por favor faça login!</p>
        <a class="fLogin" href="/">LOGIN!</a>
    </section>


    <footer class="footer">
        <small>PWeb2 - Trabalho</small>
    </footer>
</body>

</html>