<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body class="login">
    <header>
        <h1>Login</h1>
        <h4>Bem-vindo!</h4>
    </header>
    <section >
        <form action="/entrar" method="post" >
            <input type="text" name="usuario[nome]" placeholder="Nome" class="nome"/>
            <br />
            <input type="text" name="usuario[email]" placeholder="E-mail" class="email"" />
            <br />
            <button type="submit">Entrar</button>
        </form>
    </section>


    <footer>
        <small>PWeb2 - Trabalho</small>
    </footer>
</body>

</html>