
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Overpass</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
<body>
        <header>
            <h1>Smoke Overpass</h1>
        </header>
        <h3>Smoke ceu</h3>
        <img src="/images/overpass/ceu.gif" width="854", height="480">
        <img src="/images/overpass/ceu.png" width="854", height="480">
                
        <h3>Smoke lixeiro</h3>

        <img src="/images/overpass/lixeiro.gif" width="854", height="480">
        <img src="/images/overpass/lixeiro.png" width="854", height="480">
        
        <footer>
            <small>SEM FOOTER AINDA</small>
        </footer>
    </body>
</html>