<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Duvidas</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <h1>Duvida</h1>
    </header>

    <section>
        <form action="/duvida/<%- id %>?_method=put" method="post">
            <label>Duvida:</label>
            <input type="text" name="faq[faq]" value="<%- faq.faq %>" />
            <button class="BotaoPostar" type="submit">atualizar</button>
        </form>
    </section>


    <footer>
        <small>PWeb2 - Trabalho</small>
    </footer>
</body>

</html>